body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
  
  /*header*/
#head-cont{
    width: 100%;
    background-color: #189ab4;
    padding-bottom: 10px;
    padding-top: 10px;
}
  
#head-cont ul{
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}
  
#head-cont ul li{
   position: relative;
   list-style: none;
   padding: 10px 10px;
}
  
#head-cont ul li a{
    text-decoration: none;
    color: white;
    opacity: 50%;
    padding: 0 10px;
}
  
#head-cont ul li ul{
    background-color:#189ab4 ;
    color: white;
    position: absolute;
    top: 30px;
    display: block;
    width: 200px;
    left: 0;
}
  
#head-cont ul li ul{
    background-color:#189ab4 ;
    color: white;
    position: absolute;
    top: 35px;
    display: block;
    width: 200px;
    left: 0;
    visibility: hidden;
    opacity: 0;
}
  
#head-cont ul li ul li{
    border-right: none;
    border-bottom: rgba(225,225,225,.2);
}
  
#head-cont ul li:hover{
    background: #1bb1cf;
    width:auto;
    height: auto;
    padding: auto;
  }
  
#head-cont ul li:hover ul{
    opacity: 1;
    visibility: visible;
}
  
#logo{
  float: right;
  justify-content: flex-end;
  width: 50px; 
  height: 50px;
  padding-right: 30px;
  margin-right: 30px;
  padding-bottom: 50px;
}
  
.drop-triangle{
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    top: 13px;
    position: relative;
    left:10px;
    border-top: 9px solid white;
}

#header{
  color: #1bb1cf;
}
  
  
  
  /*body*/
.bo-content{
    max-width:100%;
    height: 300px;
    display: flex;
    margin-top: 50px;
    padding-bottom: 50px;
}

#title{
    margin-left: 30px;
    font-weight:normal;
    color: #189ab4;
    font-weight: bold;

}
  
.paragraph{
    color: #1bb1cf;
    display:table-row;
}

.paragraph-text{
    max-width: 817px;
    font-size: 16pt;
}


.paragraph-img1{
   
    float: left;
    padding-left: 20px;
    width:350px;
    position: relative;
}

/*footer*/
#footer {
    position: fixed;
    width: 100%;
    background-color: #189ab4;
    left: 0;
    bottom: 0;
    align-items: center;
    flex-direction: column;
    display: inline-block;
    
}
  
#footer-text{
    color: white;
    text-align: center;
    padding-top: 10px;
}
#social{
    width: 100%;
    text-align: center;
  }
   
/* For mobile phones: */
@media only screen and (max-width:480px) {
    #head-cont ul{
      display: block;
    }
  
    .bo-content{
      flex-direction: column;
      align-items: center;
      width: 100%;
      display: flex;
      padding-bottom: 180px;
    }
    
    #head-cont ul li{
      display: block;
    }
    
    #head-cont ul li ul{
      width: 100%;
      z-index: 1;
    }

    .paragraph{
        max-width: 100%;
    }
    .paragraph-img1{
        width:relative;
        position: relative;
        margin-top: auto;
    }

    .bo-content p{
        font-size: 15px;
        text-align: center;
        width: auto;
        position: relative;
    }

    .paragraph-text{
        font-size: 10pt;
        text-align: center;
        width:auto;
        position: relative;
    }
  }
  
  /* For tablet */
@media only screen and (min-width: 481px) and (max-width: 799px){
    #head-cont ul{
      display: block;
    }
  
    .bo-content{
      flex-direction: column;
      align-items: center;
    }
  
    #head-cont ul li{
      display: block;
    }
    
    #head-cont ul li ul{
      width: 100%;
      z-index: 1;
    }
  
  }
  
  /* For desktop: */
@media only screen and (min-width: 1025px) and (max-width:1280px) {
  
    #bo-content{
      width: 100%;
    }
  
  }